* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: white;
  background-color: #422b0b;
  img {
    width: 50px;
    height: 50px;
  }
}
.container {
  margin: 50px 10px 10px 10px;
  gap: 40px;
}
.card-container {
  margin: 50px 10px 10px 10px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards {
  padding: 10px 20px;
  background-color: #ffc0cbed;
  border-radius: 7px;
  box-shadow: 2px 3px 10px 1px #ccc;
  flex: 1;
}
.title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: chocolate;
}
.cards .item {
  display: flex;
  border-bottom: 1px solid chocolate;
  padding: 20px 30px 20px 0;
  .qnty {
    padding: 0 20px;
  }
  .details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .name,
    .desc {
      color: chocolate;
    }
  }
}
.price {
  font-weight: bold;
}
.item:last-child {
  border: none;
}

.name-payment {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.text-input {
  position: relative;
  margin: 20px 0;
  width: 300px;
  input {
    z-index: 1;
    border-radius: 20px;
    padding: 8px 20px;
    border: 1px solid chocolate;
    outline: none;
    background-color: inherit;
    width: 100%;
  }
  label {
    z-index: 2;
    position: absolute;
    font-size: 13px;
    color: chocolate;
    top: -13px;
    left: 22px;
    padding: 0 5px;
    background-color: #ffc0cbed;
  }
}
.ccv {
  width: fit-content;
}
.total {
  width: 300px;
  margin: 80px auto 20px;
}
.final-price {
  display: flex;
  justify-content: space-between;
}
.place-order {
  text-align: center;
  background-color: #ffc0cbed;
  margin: 0 20px;
  padding: 10px 0;
  border-radius: 20px;
  color: chocolate;
  cursor: pointer;
}
